*{
    margin: 0;
    padding: 0;
}
.main{
    width: 1000px;
    height: 575px;
    margin: auto;
    background-color: #F2F3F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.container{
    padding: 20px 30px;
}
.form{
    width: 100px;
    height: 100px;
    background-color: #D997DE;
    color: white;
    border-radius: 10px;
    text-align: center;
}
h1{   
    font-weight: 300;  
    font-size: 70px;
}
.content{
    width: 80%;
    float: right;
    margin-top: -85px;
}
p{
    font-weight: 400;
    color: grey;
}
hr{
    width: 95%;
    margin-left: 20px;
    border-top: 2px dashed red;
}